.container {
    height: 100vh;
    margin: 0 auto;
    max-width: 992px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.container > div {
    background: var(--box-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 3rem;
}

@media(max-width: 450px) /* Caso o width seja ATÉ 1080px, vamos utilizar os seguintes valores */
{
    .container > div > h1 {
        font-size: ;
    }
}

.container > div:not(:first-child) {
    margin-top: 2rem;
}

.container .menu {
    flex-direction: row;
    padding: 1rem;
    justify-content: space-around;
    
}

@media(max-width: 320px) /* Caso o width seja ATÉ 1080px, vamos utilizar os seguintes valores */
{
    .container .menu {
        flex-direction: column;
    }
}

.container .menu a {
    font-weight: bold;
}

.container .startNow {
    margin-top: 2rem;
}

.container .startNow > img {
    width: 8rem;
    height: 8rem;
}

.container .startNow > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2rem 0 2rem;
    align-items: center;
}

.container .startNow > div button {
    color: white;
    background: var(--background);
    border: none;
    border-radius: 2rem;
    width: fit-content;
    height: fit-content;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

.container .aboutUs {
    display: flex;
    flex-direction: column;
}

.container .aboutUs > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container .aboutUs > div p {
    margin-right: 1.5rem;
    align-items: center;
    justify-content: center;
}

.container .aboutUs .profiles {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
}

.container .aboutUs .profiles > img {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    padding: 0.5rem;
}

@media(max-width: 400px) /* Caso o width seja ATÉ 1080px, vamos utilizar os seguintes valores */
{
    .container .aboutUs .profiles {
        flex-direction: column;
    }
}

.container .contactUs {
    display: flex;
    flex-direction: column;
}

.container .contactUs > div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 1rem;
}

.contactUs > div .network {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactUs > div .network img {
    width: 6rem;
    height: 6rem;
}

.contactUs > div .network strong {
    margin-top: 0.5rem;
}

@media(max-width: 400px) /* Caso o width seja ATÉ 1080px, vamos utilizar os seguintes valores */
{
    .contactUs > div {
        flex-direction: column;
        justify-content: space-around;
    }
}

.contributeWithUs {
    display: flex;
    flex-direction: column;
}

.contributeWithUs > div {
    display: flex;
    margin-top: 1rem;
}

.contributeWithUs > div > img {
    width: 8rem;
    height: 8rem;
}

.contributeWithUs > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem 0 0;
}

.contributeWithUs > div > div button {
    color: white;
    background: var(--background);
    border: none;
    border-radius: 2rem;
    width: fit-content;
    height: fit-content;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.2rem;
    margin-top: 1rem;
}

@media(max-width: 450px) /* Caso o width seja ATÉ 1080px, vamos utilizar os seguintes valores */
{
    .contributeWithUs > div {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .contributeWithUs > div > div {
        padding: 2rem 0 2rem 0; 
    }
}
