* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--background: #181818;
	--text: black;
	--box-color: #F2F3F5;
}

@media(max-width: 1080px) /* Caso o width seja AT� 1080px, vamos utilizar os seguintes valores */
{
    html {
        font-size: 93.75%; /* Acess�vel e respons�vel. // As pessoas podem alterar seus font-size padr�o, ent�o utilizar em termos de percentuais � �timo para globalizar o uso da responsividade. */
    }
}

@media(max-width: 720px) /* Caso o width seja AT� 720px, vamos utilizar os seguintes valores */
{
    html {
        font-size: 87.50%;
    }
}

body {
    background: var(--background);
    color: var(--text);
}

body, input, textarea, button, label {
    font: 400 1rem "Inter", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.SkyAppLogo {
    width: 10rem;
    height: 10rem;
    margin-top: initial;
}