* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--background: #181818;
	--text: black;
	--box-color: #F2F3F5;
}

@media(max-width: 1080px) /* Caso o width seja ATÉ 1080px, vamos utilizar os seguintes valores */
{
    html {
        font-size: 93.75%; /* Acessível e responsível. // As pessoas podem alterar seus font-size padrão, então utilizar em termos de percentuais é ótimo para globalizar o uso da responsividade. */
    }
}

@media(max-width: 720px) /* Caso o width seja ATÉ 720px, vamos utilizar os seguintes valores */
{
    html {
        font-size: 87.50%;
    }
}

body {
    background: var(--background);
    color: var(--text);
}

body, input, textarea, button, label {
    font: 400 1rem "Inter", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}